.root {
    flex-Grow: 1,
}

.paper {
    padding: 200;
    margin: 'auto';
    max-Width: "95%";
    margin-Top: 8;
}

.image {
    width: 15;
    height: 15;
}
.img {
    margin: 'auto';
    display: 'block';
    /* max-Width: '100%';
    max-Height: '100%'; */
    width: 20;
    height: 20;
}

.card {
    padding: "auto";
    max-Width: 340;
    margin-Top: 8;
    margin-Left: 30;
}