.typography1 {
   border: #000 solid 0.1px;
    background-color: #FAEA43; 
    border-radius:8px;
    width: 10rem;
    margin:10px 0 200px 0px;
    padding: 10px;

}

.typography2 {
    background-color: #FAEA43; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 12px;
    
}